@charset "utf-8";
/* CSS Document */
.sideimg{
	margin: 0 auto;
	height: 790px;
	width: 56%;
	color: black;
	position: fixed;
	border: #000000;
	top:-18%;
	left: 47.5%;
	background-image: url("Adminpasswordchange.png");
	
	background-size: 120%;
	background-repeat: no-repeat;
}
.passchangedata{
	top: 39%;
	left:10%;
	position: fixed;
}
.passchangedata input{
  border: none;
  outline: none;
  background:#146F5E;
  color: #DFFEFF;
  font-size: 23px;
  height: 50px;
  width: 350px;
  border-radius: 100px;
  margin: 10px;
  text-align: center;
  overflow: hidden;
}
.passchangedata input:hover{
	box-shadow: 0px 0px 2px 2px #146F5E;
}

::placeholder{
	color:#FDBC95;
	opacity: 1;
}

.btn{
  width: 10%;
  background: none;
  border: 2px solid #146F5E;
  color:solid #146F5E;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  top: 75%;
  left:18.5%;
  border-radius: 50px;
  position: fixed;
}

.btn:hover{
	background-color: #146F5E;
    color: #DFFEFF;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.heading{
 position: fixed;
	color: #146F5E;
  font-size: 53px;
  border-bottom: 5px solid #146F5E;
  margin-bottom: 40px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bold;
	left: 12%;
	top:16%;
}
.ucp 
{
	position: fixed;
	top: 0%;
	left: 11.8%;
	
}