@charset "utf-8";
/* CSS Document */

.greenbox{
	height: 679px;
	width: 300px;
	background-color: #146F5E;
	top: 0%;
	left:0%; 
	position: fixed;
	
}
.box2{
	height: 639px;
	width: 1041px;
	background-color: #DEFFEF;
	float: right;
	margin-top: -649px;	
	position: fixed;
}
.box1{
	height: 150px;
	position: fixed;
	width: 220px;
	background:#318C7D;
	margin: auto;
	top: 30%;
	left:27%;
	border-radius: 20px;
	line-height: 23px;
}
.box1:hover{
	background:linear-gradient(to left, #cc2b5e 0%, #753a88 117%);
	box-shadow: -10px 10px 5px 0px black;
}

.boX2{
	height: 150px;
	width: 220px;
	background:#318C7D;
	margin: auto;
	top: 30%;
	left:52%;
	position: fixed;
	
	border-radius: 20px;
}
.boX2:hover{
	background:linear-gradient(to left, #cc2b5e 0%, #753a88 117%);
	box-shadow: -10px 10px 5px 0px black;
}

.box3{
	height: 150px;
	width: 220px;
	background:#318C7D;
	margin: auto;
	top: 30%;
	left:77%;
	position: fixed;
	border-radius: 20px;
}
.box3:hover{
	background:linear-gradient(to left, #cc2b5e 0%, #753a88 117%);
	box-shadow: -10px 10px 5px 0px black;
}

.box4{
	height: 150px;
	width: 220px;
	background:#318C7D;
	margin: auto;
	top: 60%;
	left:52%;
	position: fixed;
	border-radius: 20px;
}
.box4:hover{
	background:linear-gradient(to left, #cc2b5e 0%, #753a88 117%);
	box-shadow: -10px 10px 5px 0px black;
}

.circle{
	border: 3px solid #DEFFEF;
	height: 140px;
	width: 140px;
	position: fixed;
	border-radius: 100px;
	top: 5%;
	left: 5%;
}
.Admin{
	color: #DFFEFF;
	font-size: 30px;
	top: 29%;
	left: 6.5%;
	font: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	position: fixed;
}

.managecomplaintbox{
	background-color:#318C7D;
	height:70px;
	width:300px;
	top:44%;
	position:fixed;
}
.managecomplaints{
	text-align: center;
	position: fixed;
	left: 1%;
	top: 47%;
	font-size: 30px;
	color: #DFFEFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.managecomplaintbox:hover{
	box-shadow: 0px 4px 2px 1px;
	color:#FFFFFF;
}

.managestudentbox{
	background-color:#318C7D;
	height: 70px;
	width: 300px;
	top:64%;
	position: fixed;
}
.managestudentbox:hover{
	box-shadow: 0px 4px 2px 1px #34e8eb;
}

.ManageStudents{
	text-align: center;
	position: fixed;
	left: 2%;
	top: 67%;
	font-size: 30px;
	color: #DFFEFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.Button{
	background-color: #DFFEFF;
	height: 50px;
	width: 140px;
	top:84%;
	left: 5%;
	position: fixed;
	border-radius: 100px;
	
}
.Button:hover{
	box-shadow: 0px 0px 29px 1px black;
}
.buton{
	position: fixed;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: center;
	font-size: 23px;
	top:86%;
	left:6%;
	color:#146F5E;
	font-weight: bold;
	
}
.pending{
	position: fixed;
	top: 32%;
	left:28%;
	font-size: 16px;
	color: #DFFEFF;
	font-weight: bold;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}


.INPROGRESS{
	font-size: 16px;
	color: #DFFEFF;
	position: fixed;
	left:53%;
	top: 32%;
	font-weight: bold;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}


.COMPLETED{
	font-size: 16px;
	color: #DFFEFF;
	position: fixed;
	left:78%;
	top: 32%;
	font-weight: bold;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}


.HISTORY{
	font-size: 16px;
	color: #DFFEFF;
	position: fixed;
	left:53%;
	top: 62%;
	font-weight: bold;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.uccp 
{
	position: fixed;
	top: 0%;
	left: 54%;
	height: 15%;
	width: auto;
	
	
}
