@charset "utf-8";
/* CSS Document */
.greenbox{
	height: 649px;
	width: 300px;
	background-color: #146F5E;
	top: 0%;
	left:0%; 
	position: fixed;
}

.circle{
	border: 3px solid #DEFFEF;
	height: 140px;
	width: 140px;
	position: fixed;
	border-radius: 100px;
	top: 5%;
	left: 5%;
}
.Admin{
	color: #DFFEFF;
	font-size: 30px;
	top: 29%;
	left: 6.5%;
	font: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	position: fixed;
}

.managecomplaintbox{
	background-color:#318C7D;
	height:70px;
	width:300px;
	top:44%;
	position:fixed;
}
.managecomplaints{
	text-align: center;
	position: fixed;
	left: 1%;
	top: 47%;
	font-size: 30px;
	color: #DFFEFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.managecomplaintbox:hover{
	box-shadow: 0px 4px 2px 1px;
	color:#FFFFFF;
}

.managestudentbox{
	background-color:#318C7D;
	height: 70px;
	width: 300px;
	top:64%;
	position: fixed;
}
.managestudentbox:hover{
	box-shadow: 0px 4px 2px 1px #34e8eb;
}

.ManageStudents{
	text-align: center;
	position: fixed;
	left: 2%;
	top: 67%;
	font-size: 30px;
	color: #DFFEFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.Button{
	background-color: #DFFEFF;
	height: 50px;
	width: 140px;
	top:84%;
	left: 5%;
	position: fixed;
	border-radius: 100px;
	
}
.Button:hover{
	box-shadow: 0px 0px 29px 1px black;
}
.buton{
	position: fixed;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: center;
	font-size: 23px;
	top:86%;
	left:6%;
	color:#146F5E;
	font-weight: bold;
}

.box2{
	height: 639px;
	width: 1067px;
	background-color:#DFFEFF;
	float: right;
	top: 0%;
	left: 21.9%;
	position: fixed;
	
}

.Upperheading{
    position: fixed;
	color: #146F5E;
    font-size: 48px;
    border-bottom: 6px solid #146F5E;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bold;
	text-align: center;
	left: 47%;
	top:3%;
}

.logindata{
	top: 25%;
	left:45%;
	position: fixed;
}
.logindata input{
  border: none;
  outline: none;
  background:#146F5E;
  color: #DFFEFF;
  font-size: 23px;
  height: 50px;
  width: 350px;
  border-radius: 100px;
  margin: 10px;
  text-align: center;
  overflow: hidden;
}


::placeholder{
	color:#DFFEFF;
	opacity: 1;
}

.btn{
  width: 10%;
  background: none;
  border: 2px solid #146F5E;
  color:solid #146F5E;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  top: 65%;
  left:18.5%;
  border-radius: 50px;
  position: fixed;
}

.btn:hover{
	background-color: #146F5E;
    color: #DFFEFF;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.comment{
	height: 180px;
	width: 320px;
	top: 50%;
	left:46.7%;
	position: fixed;
	overflow: scroll;
	overflow-x: hidden;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background:#318C7D;
	color:#DFFEFF;
	font-weight:500;
}
.reply{
	border-color: #146F5E;
	position: fixed;
	background: #146F5E;
	left:46.7%;
	top: 80%;
	border-radius: 100px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color:#DFFEFF;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
}
.forward{
	border-color: #146F5E;
	position: fixed;
	background: #146F5E;
	left:54.5%;
	top: 80%;
	border-radius: 100px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color:#DFFEFF;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
}
.solved{
	border-color: #146F5E;
	position: fixed;
	background: #146F5E;
	left:63.7%;
	top: 80%;
	border-radius: 100px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color:#DFFEFF;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
}
.reply:hover{
	box-shadow: 0px 0px 3px 2px #146F5E;
}
.forward:hover{
	box-shadow: 0px 0px 3px 2px #146F5E;
}
.solved:hover{
	box-shadow: 0px 0px 3px 2px #146F5E;
}
