@charset "utf-8";
/* CSS Document */
body{
	background-image: url("admin-man-14.png");
	background-position: right top,0,0;
	background-size: 50%;
	background-repeat: no-repeat;
	position: relative;
	
}

ul{
	
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 20px;
	
	
}

a{
	
	color: #146F5E;
	padding-right: 100px;
	font-weight: bold;
	font-style:italic;	
}


a:hover
{
	color:black;
}
.ucp 
{
	position: fixed;
	top: 0%;
	left: 9.3%;
	
}

.logindata{
	top: 40%;
	left:10%;
	position: fixed;
}
.logindata input{
  border: none;
  outline: none;
  background:#146F5E;
  color: #DFFEFF;
  font-size: 23px;
  height: 50px;
  width: 350px;
  border-radius: 100px;
  margin: 10px;
  text-align: center;
  overflow: hidden;
}
.logindata input:hover{
	box-shadow: 0px 0px 2px 2px #146F5E;
}

::placeholder{
	color:#FDBC95;
	opacity: 1;
}

.btn{
  width: 10%;
  background: none;
  border: 2px solid #146F5E;
  color:solid #146F5E;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  top: 65%;
  left:18.5%;
  border-radius: 50px;
  position: fixed;
}

.btn:hover{
	background-color: #146F5E;
    color: #DFFEFF;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.loginheading{
 position: fixed;
	color: #146F5E;
  font-size: 48px;
  border-bottom: 6px solid #146F5E;
  margin-bottom: 40px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bold;
	left: 12%;
	top:26%;
}
.passwordchange{
  width: 13%;
  background: none;
  border: 2px solid #146F5E;
  color:solid #146F5E;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  top: 73%;
  left:17%;
  border-radius: 50px;
  position: fixed;
  overflow: hidden;
}

.passwordchange:hover{
	background:linear-gradient(to left, #476892 0%, #59355D 117%);
    color: #DFFEFF;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	border: none;
	height: 37px;
}

