@charset "utf-8";
/* CSS Document */
.greenbox{
	height: 649px;
	width: 300px;
	background-color: #146F5E;
	top: 0%;
	left:0%; 
	position: fixed;
}
.circle{
	border: 3px solid #DEFFEF;
	height: 140px;
	width: 140px;
	position: fixed;
	border-radius: 100px;
	top: 5%;
	left: 5%;
}
.Admin{
	color: #DFFEFF;
	font-size: 30px;
	top: 29%;
	left: 6.5%;
	font: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	position: fixed;
}

.managecomplaintbox{
	background-color:#318C7D;
	height:70px;
	width:300px;
	top:44%;
	position:fixed;
}
.managecomplaints{
	text-align: center;
	position: fixed;
	left: 1%;
	top: 47%;
	font-size: 30px;
	color: #DFFEFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.managecomplaintbox:hover{
	box-shadow: 0px 4px 2px 1px;
	color:#FFFFFF;
}

.managestudentbox{
	background-color:#318C7D;
	height: 70px;
	width: 300px;
	top:64%;
	position: fixed;
}
.managestudentbox:hover{
	box-shadow: 0px 4px 2px 1px #34e8eb;
}

.ManageStudents{
	text-align: center;
	position: fixed;
	left: 2%;
	top: 67%;
	font-size: 30px;
	color: #DFFEFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.Button{
	background-color: #DFFEFF;
	height: 50px;
	width: 140px;
	top:84%;
	left: 5%;
	position: fixed;
	border-radius: 100px;
	
}
.Button:hover{
	box-shadow: 0px 0px 29px 1px black;
}
.buton{
	position: fixed;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: center;
	font-size: 23px;
	top:86%;
	left:6%;
	color:#146F5E;
	font-weight: bold;
}
.box2{
	height: 639px;
	width: 1067px;
	background-color:#DFFEFF;
	float: right;
	top: 0%;
	left: 21.9%;
	
}

.Upperheading{
    
	color: #146F5E;
    font-size: 48px;
    position: sticky;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bold;
	text-align: center;
	left: 47%;
	top:0%;
}


.table {
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 600px;
	height: auto;
  border-radius: 9px 9px 9px 9px;
	top: 30%;
	left: 23%;
	background: #146F5E;
	position: sticky;
	text-align: center;
	
}

.table thead tr {
 
  text-align: center;
  font-weight: bold;
	
	
}

.table th,
.table td {
  padding: 12px 15px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bold;
	color: #DFFEFF;
	
}
.searchbar{
	
	position: fixed;
	left: 69.3%;
	top: 20%;
	
}
.searchbar input{
	border: none;
  outline: none;
  background:#146F5E;
  color: #DFFEFF;
  font-size: 23px;
  height: 50px;
  width: 300px;
  border-radius: 100px;
  margin: 10px;
  text-align: center;
  overflow: hidden;
}

.search{
	
	color: #DFFEFF;
	background-color:#146F5E;
	border: hidden;
	padding: 8px;
	border-radius: 80px;
	font:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bold;
		
}
.edit{
	
	color: #DFFEFF;
	background-color:#146F5E;
	border: hidden;
	padding: 8px;
	border-radius: 50px;
	font:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bold;
		
}
.delete{
	
	color: #DFFEFF;
	background-color:#146F5E;
	border: hidden;
	padding: 8px;
	border-radius: 50px;
	font:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bold;
		
}
.block{
	
	color: #DFFEFF;
	background-color:#146F5E;
	border: hidden;
	padding: 8px;
	border-radius: 50px;
	font:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bold;
		
}
.unblock{
	
	color: #DFFEFF;
	background-color:#146F5E;
	border: hidden;
	padding: 8px;
	border-radius: 50px;
	font:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bold;
		
}
.crud{
	position: fixed;
	top:31%;
	left: 67.9%;
}
.search:hover{
	box-shadow: 0px 0px 2px 1px red;
}
.edit:hover{
	box-shadow: 0px 0px 2px 1px red;
}
.delete:hover{
	box-shadow: 0px 0px 2px 1px red;
}
.block:hover{
	box-shadow: 0px 0px 2px 1px red;
}
.unblock:hover{
	box-shadow: 0px 0px 2px 1px red;
}

.adduser{
	position: fixed;
	left:73%;
	top:45%;
}
.adduser input{
	overflow: hidden;
	background: #146F5E;
	border:none;
	color: #DFFEFF;
	font: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bold;
	height: 40px;
	padding: 5px;
	text-align: center;
	border-radius: 50px;
	outline: none;
	margin: 10px;
}
::placeholder{
	color:#DFFEFF;
	opacity: 1;
}
.add{
	position: fixed;
	background: #DFFEFF;
	border:1px solid #146F5E;
	border-radius: 50px;
	top:80%;
	left:79%;
	font-weight: bold;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color:#146F5E;
	height: 27px;
	width: 57px;	
}
.add:hover{
	box-shadow: 0px 0px 2px 2px #146F5E;
}