@charset "utf-8";
/* CSS Document */
.greenbox{
	height: 649px;
	width: 300px;
	background-color: #146F5E;
	top: 0%;
	left:0%; 
	position: fixed;
}
.circle{
	border: 3px solid #DEFFEF;
	height: 140px;
	width: 140px;
	position: fixed;
	border-radius: 100px;
	top: 5%;
	left: 5%;
}
.Admin{
	color: #DFFEFF;
	font-size: 30px;
	top: 29%;
	left: 6.5%;
	font: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	position: fixed;
}

.managecomplaintbox{
	background-color:#318C7D;
	height:70px;
	width:300px;
	top:44%;
	position:fixed;
}
.managecomplaints{
	text-align: center;
	position: fixed;
	left: 1%;
	top: 47%;
	font-size: 30px;
	color: #DFFEFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.managecomplaintbox:hover{
	box-shadow: 0px 4px 2px 1px;
	color:#FFFFFF;
}

.managestudentbox{
	background-color:#318C7D;
	height: 70px;
	width: 300px;
	top:64%;
	position: fixed;
}
.managestudentbox:hover{
	box-shadow: 0px 4px 2px 1px #34e8eb;
}

.ManageStudents{
	text-align: center;
	position: fixed;
	left: 2%;
	top: 67%;
	font-size: 30px;
	color: #DFFEFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.Button{
	background-color: #DFFEFF;
	height: 50px;
	width: 140px;
	top:84%;
	left: 5%;
	position: fixed;
	border-radius: 100px;
	
}
.Button:hover{
	box-shadow: 0px 0px 29px 1px black;
}
.buton{
	position: fixed;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: center;
	font-size: 23px;
	top:86%;
	left:6%;
	color:#146F5E;
	font-weight: bold;
}

.box2{
	height: 639px;
	width: 1067px;
	background-color:#DFFEFF;
	float: right;
	top: 0%;
	left: 21.9%;
	
	
}
.complaints{
	position: fixed;
	background: #146F5E;
	height: 45px;
	width: 1067px;
	top: 44.5%;
	font-weight: bold;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: center;
	font-size: 23px;
	color: #DFFEFF;
	padding-top: 20px;
}
.complaints2{
	position: fixed;
	background: #146F5E;
	height: 45px;
	width: 1067px;
	top: 64.5%;
	font-weight: bold;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: center;
	font-size: 23px;
	color: #DFFEFF;
	padding-top: 20px;
}

.Upperheading{
    
	color: #146F5E;
    font-size: 48px;
    position: sticky;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bold;
	text-align: center;
	left: 47%;
	top:0%;
}


.content-table {
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 600px;
	height: auto;
  border-radius: 9px 9px 0 0;
	top: 30%;
	left: 38%;
	background: #318C7D;
	
	position: sticky;
	
}

.content-table thead tr {
 
  text-align: left;
  font-weight: bold;
	position: sticky;
	
}

.content-table th,
.content-table td {
  padding: 12px 15px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bold;
	color: #DFFEFF;
	position: sticky;
}
.reply{
	position: fixed;
	top: 93.2%;
	left: 82.6%;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bold;
	color: #DFFEFF;
	background: #146F5E;
	height: auto;
	width: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 18px;
	border-radius: 100px;
}
.reply:hover{
	box-shadow: 0px 0px 2px 1px black;
	color: #146F5E;
	background: #DFFEFF;
	font-weight: bold;
}

