@charset "utf-8";
/* CSS Document */
ul{
	
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 20px;
	
	
}

a{
	
	color: #146F5E;
	padding-right: 100px;
	font-weight: bold;
	font-style:italic;	
}
a:hover{
	color:orangered;
}
.headings{
	position: fixed;
	top: 16%;
	left: 9%;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bold;
	font-size: 80px;
	color: #146F5E;
	line-height: 150px;
}

.ucp 
{
	position: absolute;
	top: 0px;
	left: 127px;
}

.complain-pic 
{
position: fixed;
	top:42px;
	left: 595px;
	
}

